.logo {
    width: 98px;
    height: 40px;
}

.dashboard {
    width: 219px;
}

.balance-text {
    font-weight: bold;
}

.card {
    width: 352px;
    min-height: 121px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}