<h1 class="header text-primary-emphasis">
    Главная
</h1>

<div class="days">
    <ul class="list-days d-flex flex-wrap p-0 ms-4 mt-4">
        <li class="ms-4 mt-2">
            <a href="#" class="select-interval btn btn-outline-secondary w-100 active">
                Сегодня
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="#" class="select-interval btn btn-outline-secondary w-100">
                Неделя
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="#" class="select-interval btn btn-outline-secondary w-100">
                Месяц
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="#" class="select-interval btn btn-outline-secondary w-100">
                Год
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="#" class="select-interval btn btn-outline-secondary w-100">
                Все
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="#" class="select-interval btn btn-outline-secondary w-100">
                Интервал
            </a>
        </li>
        <li class="ms-4 mt-2 d-flex align-items-center justify-content-around">
            <span>c</span>
            <a href="#" class="text-secondary">
                Дата
            </a>
        </li>
        <li class="ms-4 mt-2 d-flex align-items-center justify-content-around">
            <span>по</span>
            <a href="#" class="text-secondary">
                Дата
            </a>
        </li>
    </ul>
</div>

<div>
    <a href="/login">LOGIN</a>
    <a href="/sign-up">sign-up</a>
</div>

<div class="row justify-content-center">
    <div class="col-md-5">
        <canvas id="income-diagram"></canvas>
    </div>
    <div class="col-md-5">
        <canvas id="expenses-diagram"></canvas>
    </div>
</div>
