<h1 class="header text-primary-emphasis">
    Главная
</h1>

<div class="days">
    <ul class="list-days d-flex flex-wrap p-0 ms-4 mt-4">
        <li class="ms-4 mt-2">
            <a href="javascript:void(0)" class="select-interval active btn btn-outline-secondary w-100" id="today">
                Сегодня
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="javascript:void(0)" class="select-interval btn btn-outline-secondary w-100" id="week">
                Неделя
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="javascript:void(0)" class="select-interval btn btn-outline-secondary w-100" id="month">
                Месяц
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="javascript:void(0)" class="select-interval btn btn-outline-secondary w-100" id="year">
                Год
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="javascript:void(0)" class="select-interval btn btn-outline-secondary w-100" id="all-time">
                Все
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="javascript:void(0)" class="select-interval btn btn-outline-secondary w-100" id="interval">
                Интервал
            </a>
        </li>
        <li class="ms-4 mt-2 d-flex align-items-center justify-content-around">
            <span>c</span>
            <input type="date" class="input-date" placeholder="Дата" id="startDate" value="2024-11-19" min="2010-01-01" max="2030-12-31">
        </li>
        <li class="ms-4 mt-2 d-flex align-items-center justify-content-around">
            <span>по</span>
            <input type="date" class="input-date" placeholder="Дата" id="endDate" value="2024-11-19" min="2010-01-01" max="2030-12-31">
        </li>
    </ul>
</div>

<div class="row justify-content-center">
    <div class="col-md-5">
        <canvas id="income-diagram"></canvas>
    </div>
    <div class="col-md-5">
        <canvas id="expenses-diagram"></canvas>
    </div>
</div>
