.main{
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
}

.header {
    margin: 100px 0 0 60px;
}

.list-days li {
    list-style: none;
    width: 100px;
}

.avatar {
    width: 36px;
    height: 36px;
    aspect-ratio: 16 / 9;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.text-purple-dark {
    color: #290661;
}

.logo {
    width: 98px;
    height: 40px;
}

.dashboard {
    width: 219px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.balance-text {
    font-weight: bold;
}

.nav-link {
    color: #052C65;
}

.icon {
    margin-right: 10px;
}

.menu a {
    display: flex;
    align-items: center;
    font-weight: 400;
}

.income {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.menu-dropdown-link {
    color: #052C65;
}

.menu-dropdown-link:hover {
    background-color: transparent;
    color: #0D6EFD;
}

.menu-dropdown-link::before:hover {
    color: #0D6EFD;
}

.menu-dropdown li {
    list-style: none;
}

.menu-dropdown-item a {
    color: #0D6EFD;
}

.arrow {
    transition: 0.3s;
}

#menu-dropdown-link {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.menu-dropdown-item:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-li {
    border: 1px solid transparent;
    border-radius: 7px;
}

.content {
    margin-left: 219px;
}

.user-name {
    display: flex;
    flex-wrap: wrap;
}

.input-date {
    margin-right: 10px;
    border: none;
    outline: none;
}

.input-date:focus, textarea:focus, select:focus {
    outline: none;
}

.pretext-date {
    padding-left: 10px;
    padding-right: 5px;
}

