.logo {
    width: 98px;
    height: 40px;
}

.dashboard {
    width: 219px;
}

.balance-text {
    font-weight: bold;
}

.card {
    width: 352px;
    height: 121px;
}

.new-card {
    width: 352px;
    min-block-size: 121px;
}