<h1 class="header text-primary-emphasis">
    Создание дохода/расхода
</h1>

<form class="form mt-5 ms-5 d-flex gap-2 flex-wrap" style="width: 421px;">
    <input type="text" class="form-control" placeholder="Тип..." value="Доход">
    <input type="text" class="form-control" placeholder="Категория..." value="Зарплата">
    <input type="text" class="form-control" placeholder="Сумма в $..." value="500$">
    <input type="text" class="form-control" placeholder="Дата..." value="11.09.2022">
    <input type="text" class="form-control" placeholder="Комментарий...">
    <button type="button" class="btn btn-success mt-3">Сохранить</button>
    <a href="/income-and-expenses" class="btn btn-danger mt-3">Отмена</a>
</form>
