<h1 class="header text-primary-emphasis">
    Доходы и расходы
</h1>

<form class="form mt-5 ms-5 d-flex gap-2 flex-wrap" style="width: 421px;">
    <button type="button" class="btn btn-success">Создать доход</button>
    <button type="button" class="btn btn-danger">Создать расход</button>
</form>

<div class="days">
    <ul class="list-days d-flex flex-wrap p-0 ms-4 mt-4">
        <li class="ms-4 mt-2">
            <a href="#" class="btn btn-outline-secondary w-100">
                Сегодня
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="#" class="btn btn-outline-secondary w-100">
                Неделя
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="#" class="btn btn-outline-secondary w-100">
                Месяц
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="#" class="btn btn-outline-secondary w-100">
                Год
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="#" class="btn btn-outline-secondary w-100">
                Все
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="#" class="btn btn-outline-secondary w-100">
                Интервал
            </a>
        </li>
        <li class="ms-4 mt-2 d-flex align-items-center justify-content-around">
            <span>c</span>
            <a href="#" class="text-secondary">
                Дата
            </a>
        </li>
        <li class="ms-4 mt-2 d-flex align-items-center justify-content-around">
            <span>по</span>
            <a href="#" class="text-secondary">
                Дата
            </a>
        </li>
    </ul>
</div>

<table class="table ms-5 text-center">
    <thead>
    <tr>
        <th scope="col">№ операции</th>
        <th scope="col">Тип</th>
        <th scope="col">Категория</th>
        <th scope="col">Сумма</th>
        <th scope="col">Дата</th>
        <th scope="col">Комментарий</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td class="text-success">доход</td>
        <td>зарплата</td>
        <td>500$</td>
        <td>11.09.2022</td>
        <td></td>
        <td>
            <a>
                <img data-bs-toggle="modal" data-bs-target="#exampleModal" role="button"
                     src="../images/cart.png"
                     alt="Корзина">
            </a>
            <img role="button" src="../images/edit.png" alt="Изменить">
        </td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td class="text-danger">расход</td>
        <td>жилье</td>
        <td>2500$</td>
        <td>12.09.2022</td>
        <td></td>
        <td>
            <a>
                <img data-bs-toggle="modal" data-bs-target="#exampleModal" role="button"
                     src="../images/cart.png"
                     alt="Корзина">
            </a>
            <a href="#">
                <img role="button" src="../images/edit.png" alt="Изменить">
            </a>
        </td>
    </tr>
    </tbody>
</table>
