<h1 class="header text-primary-emphasis">
    Доходы и расходы
</h1>

<form class="form mt-5 ms-5 d-flex gap-2 flex-wrap" style="width: 421px;">
    <a href="/create-operation" class="btn btn-success">Создать доход</a>
    <a href="/create-operation" class="btn btn-danger">Создать расход</a>
</form>

<div class="days">
    <ul class="list-days d-flex flex-wrap p-0 ms-4 mt-4">
        <li class="ms-4 mt-2">
            <a href="javascript:void(0)" class="select-interval active btn btn-outline-secondary w-100" id="today">
                Сегодня
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="javascript:void(0)" class="select-interval btn btn-outline-secondary w-100" id="week">
                Неделя
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="javascript:void(0)" class="select-interval btn btn-outline-secondary w-100" id="month">
                Месяц
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="javascript:void(0)" class="select-interval btn btn-outline-secondary w-100" id="year">
                Год
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="javascript:void(0)" class="select-interval btn btn-outline-secondary w-100" id="all-time">
                Все
            </a>
        </li>
        <li class="ms-4 mt-2">
            <a href="javascript:void(0)" class="select-interval btn btn-outline-secondary w-100" id="interval">
                Интервал
            </a>
        </li>
        <li class="ms-4 mt-2 d-flex align-items-center justify-content-around">
            <span class="pretext-date">c</span>
            <input type="date" class="input-date" placeholder="Дата" id="startDate" value="2024-11-19" min="2010-01-01" max="2030-12-31">
        </li>
        <li class="ms-4 mt-2 d-flex align-items-center justify-content-around">
            <span class="pretext-date">по</span>
            <input type="date" class="input-date" placeholder="Дата" id="endDate" value="2024-11-19" min="2010-01-01" max="2030-12-31">
        </li>
    </ul>
</div>

<table class="table ms-5 text-center">
    <thead>
    <tr>
        <th scope="col">№ операции</th>
        <th scope="col">Тип</th>
        <th scope="col">Категория</th>
        <th scope="col">Сумма</th>
        <th scope="col">Дата</th>
        <th scope="col">Комментарий</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody id="dataTable">

    </tbody>
</table>
