<h1 class="header text-primary-emphasis">
    Редактирование категории доходов
</h1>

<form class="form mt-5 ms-5 d-flex gap-4 flex-wrap">
    <input type="text" class="form-control" id="inputTitle" placeholder="Введите новое название категории дохода">
    <span class="errorInput error invalid-feedback" id="inputTitle-error"></span>
    <button type="button" class="btn btn-success" id="updateButton">Сохранить</button>
    <a href="/income" type="button" class="btn btn-danger">Отмена</a>
</form>
