<h1 class="header text-primary-emphasis">
    Создание категории расходов
</h1>

<form class="form mt-5 ms-5 d-flex flex-column gap-4 flex-wrap" id="form">
    <div>
        <input type="text" class="form-control" placeholder="Название..." id="inputName">
        <span class="errorInput error invalid-feedback" id="inputName-error"></span>
    </div>
    <div>
        <button type="button" class="btn btn-success" id="createExpenses">Создать</button>
        <a href="/expenses" type="button" class="btn btn-danger">Отмена</a>
    </div>
</form>
