<h1 class="header text-primary-emphasis">
    Редактирование категории расходов
</h1>

<form class="form mt-5 ms-5 d-flex gap-4 flex-wrap">
    <input type="text" class="form-control" placeholder="Введите новое название категории расхода" id="inputTitle">
    <span class="errorInput error invalid-feedback" id="inputName-error"></span>
    <button type="button" class="btn btn-success" id="updateButton">Сохранить</button>
    <a href="/expenses" type="button" class="btn btn-danger">Отмена</a>
</form>
